<header class="header">
    <div class="container">
        <div class="d-flex">
          <div class="mr-auto">
              <a href="#">
                  <img src="../../../../assets/img/logo.svg">
                </a>
          </div>
          <div>
              <ul class="nav">
                  <li>
                    <a href="#">HOME</a>
                  </li>
                  <li>
                    <a href="#">ABOUT</a>
                  </li>
                  <li>
                    <a href="#">CONTACT</a>
                  </li>
                </ul>
          </div>
          <div>
              <button class="btn custom-btn-primary">ENQUIRE</button>
          </div>
        </div>
        
      </div>
</header>