// Colors
$white: #ffffff;
$purble: #8e44ad;
$darkPurble: #732f90;
$lightPurble: rgba(142, 68, 173, 0.05);
$lightBlack: #7f8c8d;
$gray: #7c8187;
$darkGray: #dedede;
$lightGray: #f5f5f5;
$darkBlue: #34495e;
$warning: red;